<!DOCTYPE html>
<html lang="en_GB">
<head>
    <title>Default pckg project</title>
</head>
<body>
<h1>Default pckg project page</h1>
<p>Seems like there are no routes added. Try adding your first route to the default app provider, or create a new
    provider.</p>
</body>
</html>